* {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

/* styles for logo on sidebar */
.sidebar-logo {
  height: 10vh;
  width: 10vw;
}

.sidebar-logo-section {
  padding: 4vh 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Extrabold';
  font-size: calc(8px + 2.4vmin);
}

.sidebar-expanded-logo {
  padding: 4vh 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Extrabold';
  font-size: calc(8px + 2.4vmin);
  background-color: transparent;
  color: #505050;
}

/* styles for sidebar component */
.main-sidebar-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 16vw;
}

.main-sidebar-container-mini {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 6vw;
}

.sidebar-line-break {
  border: .01vh solid #bbb;
}

.sidebar-link-container {
  text-decoration: none;
  background-color: transparent;
  color: #808080;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: row;
}

.sidebar-toggle {
  text-decoration: none;
  background-color: #eee;
  color: #808080;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: row;
  border: .1vh solid #808080;
}

.sidebar-toggle:hover {
  text-decoration: none;
  background-color: #e1e8ff;
  color: #808080;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: row;
  border: .1vh solid #808080;
}

.sidebar-link-container.active {
  text-decoration: none;
  background-color: transparent;
  color: #808080;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: row;
  border-bottom: .1vw solid #1E49E2;
  border-left: .4vw solid #1E49E2;
  box-sizing: border-box;
}

.sidebar-link-container:hover, .sidebar-link-container:active {
  border-bottom: .1vw solid #1E49E2;
  border-left: .4vw solid #1E49E2;
}

.sidebar-link-container-selected {
  background-color: red;
}

.sidebar-link-component {
  display: flex;
  flex-direction: row;
  gap: 1.2vw;
  align-items: center;
  font-size: calc(8px + 1vmin);
}


/* Custom styles for toggle button */
.toggle-btn {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* styles for button components */
.filled-button {
  box-shadow: none;
  border-color: transparent;
  font-family: "Semibold";
  background-color: #1f4e79;
  padding: 0.7vw 3vw;
  border-radius: 0.16vw;
  color: #fafafa;
  font-size: 0.83vw;
  width: 100%;
}

.filled-button-large {
  box-shadow: none;
  border-color: transparent;
  font-family: "SemiBold";
  background-color: #1f4e79;
  padding: 0.7vw 3vw;
  border-radius: 0.16vw;
  color: #fafafa;
  font-size: 0.83vw;
  width: 100%;
}

.outlined-button {
  background-color: transparent;
  font-family: "SemiBold";
  border-color: #1f4e79;
  padding: 0.6vw 3vw;
  border-radius: 0.16vw;
  color: #1f4e79;
  font-size: 0.83vw;
  box-shadow: none;
}

.outlined-button-1 {
  background-color: transparent;
  font-family: "Medium";
  border-color: #1f4e79;
  padding: 0.6vw 3vw;
  border-radius: 0.16vw;
  color: #1f4e79;
  font-size: 0.76vw;
  box-shadow: none;
}

.link-button {
  color: #1E49E2;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.auth-link-button {
  font-family: "Bold";
  padding: 3.2% 0;
  background-color: #1E49E2;
  color: #fafafa;
  width: 100%;
  box-shadow: none;
  border: none;
  border-radius: 2px;
}

.tabs-component-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4%;
}

.tab-button {
  background-color: transparent;
  width: 100%;
  padding: 0.6vw 0vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  font-family: "Jost-Medium";
  font-size: 0.96vw;
  border: none;
  cursor: pointer;
  border-bottom: 0.1vw solid #ccc;
}

.tab-button:hover,
.active-tab-button:hover {
  color: #1f4e79;
}

.tab-button:visited,
.active-tab-button:visited {
  color: #1f4e79;
}

.active-tab-button {
  background-color: transparent;
  width: 100%;
  padding: 0.6vw 0vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  font-family: "Jost-Medium";
  font-size: 0.96vw;
  border: none;
  cursor: pointer;
  border-bottom: 0.18vw solid #172d42;
}


/* auth screens */
.main-auth-container {
  background-color: #fafafa;
  padding: 4% 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  border-radius: 1.8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.auth-screen-header {
  font-size: calc(8px + 2vmin);
  font-family: "Extrabold";
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  gap: 2.4vh;
}

.auth-input-container {
  display: flex;
  flex-direction: column;
  gap: .4vh;
}

.auth-text-input, .auth-password-input {
  width: 28vw;
  background-color: #fafafa;
  padding: 3.2%;
  color: #505050;
  box-shadow: none;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
}


/* styles for screens */
.main-screen-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
}

.sidebar-container {
  min-height: 100vh;
  width: 20vw;
  max-width: 20vw;
  background-color: gold;
}

.content-container {
  min-height: 100vh;
  width: 80vw;
  background-color: green;
}


/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */