* {
  padding: 0;
  margin: 0;
  font-family: "Semibold";
  font-size: calc(8px + .9vmin);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background-color: red;
}



@font-face {
  font-family: 'Black';
  src: local('Grotesque'), url(./darker-grotesque/Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Extrabold';
  src: local('Grotesque'), url(./darker-grotesque/Extrabold.ttf) format('truetype');
}
@font-face {
  font-family: 'Bold';
  src: local('Grotesque'), url(./darker-grotesque/Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Semibold';
  src: local('Grotesque'), url(./darker-grotesque/Semibold.ttf) format('truetype');
}
@font-face {
  font-family: 'Medium';
  src: local('Grotesque'), url(./darker-grotesque/Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Regular';
  src: local('Grotesque'), url(./darker-grotesque/Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Light';
  src: local('Grotesque'), url(./darker-grotesque/Light.ttf) format('truetype');
}
